:root {
  --blue: #2196f3;
  --dark: #212121;
  --light: #757575;
  --white: #ffffff;
  --bg-dark: #2f303a;
  --bg-light: #f5f4fa;
}

header {
  background-color: var(--white);
}

/* logo */
.logo span {
  color: var(--blue);
}
.logo {
  color: var(--dark);
}

/* navigation menu*/

.nav a {
  color: var(--dark);
}

.nav a.active {
  color: var(--blue);
}

.nav a:hover,
.nav a:focus {
  color: var(--blue);
}

/* contacts */
.contacts .contacts-item {
  color: var(--light);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--blue);
}

/* hero */
.hero {
  background-color: var(--bg-dark);
}
.hero .header {
  color: var(--white);
}

.button {
  background-color: var(--blue);
  color: var(--white);
}

/* advantages */

.advantages {
  background-color: var(--white);
}

.advantages-item h3 {
  color: var(--dark);
}

.advantages-item p {
  color: var(--light);
}

/* what we do */
.we-do {
  background-color: var(--white);
}

.we-do h2 {
  color: var(--dark);
}

/* our command */
.our-command {
  background-color: var(--bg-light);
}

.our-command h2 {
  color: var(--dark);
}

.command-item {
  background-color: var(--white);
}
.command-item h3 {
  color: var(--dark);
}
.command-item p {
  color: var(--light);
}

/* footer */
footer {
  background-color: var(--bg-dark);
}

.logo.white {
  color: var(--white);
}

.address p,
.address a {
  color: var(--white);
}

.address a {
  opacity: 0.6;
}
.address a:hover,
.address a:focus {
  color: var(--blue);
}

/* potfolio filter */
.filter-item {
  background-color: var(--bg-light);
  color: var(--dark);
}

.filter-item:hover,
.filter-item:focus,
.filter-item.active {
  background-color: var(--blue);
  color: var(--white);
}
/* portfolio item */
.portfolio-item {
  background-color: var(--white);
}

.portfolio-item h2 {
  color: var(--dark);
}
.portfolio-item p {
  color: var(--light);
}
